output/*
.vscode
*.aux
*.fdb_latexmk
*.fls
*.log
*.tkzfct.gnuplot
*.tkzfct.table
chapters/SpatialDecomposition/figures/alignmentComparison/*.pdf
chapters/SpatialDecomposition/figures/REB/*.pdf
chapters/SpatialDecomposition/figures/RIB/*.pdf